.error {
  display: flex;
  background-color: #BB4430;
  color: #ffffff;
  font-size: 1.5rem;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  border: 5px solid white;
  width: 60%;
  justify-content: center;
}