nav {
  height: 120px;
  background-color: transparent;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0px;

}

nav span {
  font: 2.5rem 'Bungee', sans-serif;
}

nav button {
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 0;
  padding-top: 25px;
}

nav button:hover {
  cursor: pointer;
}

nav button:focus {
  outline: none;
}

@keyframes nav-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

nav i {
  color: #BB4430;
  width: 100%;
  position: relative;
  animation-name: nav-bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.scrollUp {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  background-color: #FFBF46;
  border-radius: 100%;
  border: none;
  color: #ffffff;
  font-size: 4rem;
  padding: 45px;
  width: 50px;
  height: 50px;
}

.scrollUp:focus {
  outline: none;
}

.scrollUp:hover {
  background-color: #bc7b00;
  cursor: pointer;
}

i:only-child {
  position: relative;
  right: 20px;
  bottom: 35px;
}

@media only screen and (max-width: 500px) {
  
  nav {
    padding: 1rem;
  }
  
  nav span {
    font-size: 1.5rem;
  }

  nav button {
    font-size: 1.2rem;
  }
}


@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}


/* #4056A1; */