#tweet-feed {
  padding-top: 40px;
  display:flex;
  width: 100%;
  flex-direction: column;
}

article.tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #474747;
  padding: 5px 20px;
  margin-bottom: 30px;
}

article.tweet header {
  display: flex;
  width: 100%;
  align-items: center;
}

article.tweet header img {
  height: 60px;
  width: auto;
  padding-right: 25px;
}


header h4 {
  margin-left: auto;
  color: #bec7e4;
}

article.tweet footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
}

.social-icons {
  visibility: hidden;
  color: #4056A1;
}

article.tweet header~div {
  border-bottom: 3px solid #474747;
  padding: 30px 0;
}

article.tweet:hover {
  box-shadow: 5px 5px #bec7e4;
  font-weight: 600;
}

article.tweet:hover .social-icons {
  visibility: visible;
}

@media only screen and (max-width: 450px) {
  article.tweet header img {
    height: 40px;
  }

  article.tweet header {
    font-size: 1rem;
  }
}